<h1>Réinitialisation du mot de passe</h1>

<p>bonjour {{ user.firstname }}</p>
<p>pour réinitialiser votre mot de passe cliquez sur ce lien</p>

<p><a href="{{ url|raw }}">{{ url|raw }}</a></p>

<p>Merci</p>